#title {
    text-align: center;
}

#initpart,
#mintpart,
#minttest,
#policypart,
#userpart,
#lppart,
#poolpart,
#stakepart,
#oraclepart {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 40px 40px 40px;
}

#mint_number {
    margin: 0 auto;
}

