#title {
    text-align: center;
}


#mintpart,
#minttest,
#policypart,
#userpart,
#lppart,
#poolpart,
#stakepart {
    width: 1000px;
    margin: 0 auto;
    padding: 40px;
}

#mint_number {
    margin: 0 auto;
}

